<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Discount Pokemon!</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/trainer/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trainer/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trainer/myPokemon">My Pokemon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trainer/trading">Trading</a>
      </li>
          <a class="nav-link" href="/pokemon">My First Pokemon</a>
        </li>
    </ul>
  </div>
  <a href='#' target=''><i class='icon-facebook' style="font-size: 3.50em;"></i></a>
  <a href='#' target='' class='icon-linkedin' style="font-size: 3.50em;"></a>
</nav>