<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My First Pokemon</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <img src="https://ya-webdesign.com/images/charmander-sprite-png-3.png" height="500px" width="500px">
    <img src="https://t2.rbxcdn.com/d757431c22fe78f8e1b3b9de2e0a4be9" height="500px" width="500px">
    <img src="https://www.pngkey.com/png/full/439-4399737_squirtle-pokemon-squirtle-sprite.png" height="500px"
        width="500px">
</body>

</html>