<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My First Pokemon</title>
</head>

<body
    background="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d83m36e-3b58ca48-fe8a-456e-9ffc-a5a84eca6613.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDgzbTM2ZS0zYjU4Y2E0OC1mZThhLTQ1NmUtOWZmYy1hNWE4NGVjYTY2MTMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jOpoPaOypPatcb4k7flznTP9YiwUEX2q2BKoeWUPU74">
    <%- include('./partials/navbar') %>
    <!-- <img src="https://ya-webdesign.com/images/charmander-sprite-png-3.png">
    <img src="https://t2.rbxcdn.com/d757431c22fe78f8e1b3b9de2e0a4be9">
    <img src="https://www.pngkey.com/png/full/439-4399737_squirtle-pokemon-squirtle-sprite.png"><br> -->
    <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54fbd6f3-057d-423a-8e69-91ecaf3b50dc/d7b5n3t-e280bd54-9b89-4251-a94f-39ece962ace2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ZmJkNmYzLTA1N2QtNDIzYS04ZTY5LTkxZWNhZjNiNTBkY1wvZDdiNW4zdC1lMjgwYmQ1NC05Yjg5LTQyNTEtYTk0Zi0zOWVjZTk2MmFjZTIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.efM5EB3GgzFTg3VI6riZu8lpK-naRjQMoBtrgcToBt8">
    <img src="https://thumbs.gfycat.com/AssuredCoolKatydid.webp">
    <a href="/"><img src="https://thumbs.gfycat.com/OrganicImperfectHornet-max-1mb.gif"></a>
    <!-- <img src="https://thumbs.gfycat.com/MagnificentHardAmmonite.webp">
    <img src="https://thumbs.gfycat.com/QuarterlySleepyBird.webp">
    <img src="https://thumbs.gfycat.com/WeightyMistyGalah.webp">
    <img src="https://thumbs.gfycat.com/SaneSkeletalGhostshrimp.webp"> -->
    <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54fbd6f3-057d-423a-8e69-91ecaf3b50dc/d7b5oxj-49bbf3f3-6520-450c-8cbf-28faab8aa725.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ZmJkNmYzLTA1N2QtNDIzYS04ZTY5LTkxZWNhZjNiNTBkY1wvZDdiNW94ai00OWJiZjNmMy02NTIwLTQ1MGMtOGNiZi0yOGZhYWI4YWE3MjUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.sfGRYhfoCgjJSAxWF1G1dxjCsAmT7LH-8bmBmvvNcp8">
    <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54fbd6f3-057d-423a-8e69-91ecaf3b50dc/d7bamx4-b94c94bb-c6a1-4f35-8ad8-965a405b39a5.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ZmJkNmYzLTA1N2QtNDIzYS04ZTY5LTkxZWNhZjNiNTBkY1wvZDdiYW14NC1iOTRjOTRiYi1jNmExLTRmMzUtOGFkOC05NjVhNDA1YjM5YTUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gdSgLmYR4uhDm19DFSEykDoTAC6UC60gNG-Ml_aVOQI">
    <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54fbd6f3-057d-423a-8e69-91ecaf3b50dc/d7bamvo-18ce8219-e37e-48d4-b084-4219c134cb4d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ZmJkNmYzLTA1N2QtNDIzYS04ZTY5LTkxZWNhZjNiNTBkY1wvZDdiYW12by0xOGNlODIxOS1lMzdlLTQ4ZDQtYjA4NC00MjE5YzEzNGNiNGQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7hOyiHUC3_vn0E3Gq7wn0YwX67vBrr7EfclhqabYFag">
    <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54fbd6f3-057d-423a-8e69-91ecaf3b50dc/d7bamd3-60bdb594-b4b4-4d0e-b3b2-9438197c33f6.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ZmJkNmYzLTA1N2QtNDIzYS04ZTY5LTkxZWNhZjNiNTBkY1wvZDdiYW1kMy02MGJkYjU5NC1iNGI0LTRkMGUtYjNiMi05NDM4MTk3YzMzZjYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iajc_9HX7osDmYjRUuuLwHeEfb5qD3IsERT7FyKgyfg">
    <img src="https://thumbs.gfycat.com/VariableAgonizingHyrax.webp">
</body>

</html>