<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Into the wilds!</title>
</head>

<body style="
background-image: 
url(/battleBackground.png);
background-repeat: no-repeat;
background-size: cover;
position: relative;
    ">
    <%- include('./partials/navbar') %>
    <img style="
        position: absolute;
        top: 21em;
        right: 52em;
        height: 17em;" src="<%- pokemon.image %>">
    </div>



    <div class="container text-center">

        <div class="row" style="
        color:black; 
        margin: 80px 250px 80px 250px; 
        padding: 40px 80px 40px 80px;
        border: 2px solid;
        background-color:white ;
        border-radius: 15px;
        border-color: #3564AD;
        ">

            <h4>Give your pokemon a nickname!</h4>
            <form method="POST" action="/trainer/name/<%- pokemon.id %>">
                <input name="name" type="text">
                <button type="button" class="btn btn-danger background-color:black">Confirm nickname?</button>
            </form>
        </div>

</body>

</html>