<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body style="
background-image: url(/background.jpg);
background-repeat: no-repeat;
background-size: cover;
">
    <%- include('./partials/navbar') %>

    <div class="" style="
    color:black; 
    text-align: center;
    margin: 80px 250px 80px 250px; 
    padding: 40px 80px 40px 80px;
    border: 2px solid;
    background-color:white ;
    border-radius: 15px;
    border-color: #3564AD;
    ">
        <a href="/trainer/myPokemon"><img
                src="https://cdn4.iconfinder.com/data/icons/longico/224/longico-23-512.png"></a><br>
        <a href="/trainer/trade"><img src="https://img.icons8.com/color/420/fight-pokemon.png"></a><br>
        <a href="/trainer/logout"><img src="https://pixelthieves.files.wordpress.com/2013/12/sadicon.png?w=800"></a>
    </div>
</body>

</html>