
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<title>Profile</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }
    
    .title {
  color: grey;
  font-size: 18px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #3498DB;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<%-include('./partials/navbar')%> 
</head>
<body style="
background-image: url(/background.jpg);
background-repeat: no-repeat;
background-size: cover;
">
    <div class="card" style="margin-top: 23em;">
    <a class="btn btn-primary" href="/trainer/trade" role="button">Trade</a>
    <a class="btn btn-secondary" href="/trainer/bid" role="button">Bid</a>
</div>

</body>
</html>
